.biorhythm-card p {
    line-height: normal;
}
.biorhythm-card .emotional {
    color: var(--app-emotional-color);
}
.biorhythm-card .intellectual {
    color: var(--app-intellectual-color);
}
.biorhythm-card .phsical {
    color: var(--app-physical-color);
}
